aws_region           = "us-east-1"
project_name         = "milli-cloud-sec"
environment          = "devsec"
owner                = "hubani_deloitte"
instance_type        = "t2.micro"
allowed_ingress_cidr = "0.0.0.0/0"
enable_ssh           = false
notification_email   = "you@example.com"
budget_limit_usd     = "25"

start_cron_utc       = "cron(0 12 ? * MON-FRI *)"
stop_cron_utc        = "cron(0 1 ? * MON-FRI *)"
